@font-face {
  font-family: Bryant Pro;
  src: url(bryantpro-font-family/BryantPro-Regular.otf);
}

/*-------------------------------------------
Global Styling
-------------------------------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: overlay;
  box-sizing: border-box;
  color: #333;
}

/*-------------------------------------------
Utility Classes
-------------------------------------------*/
.u-mb-xlg { margin-bottom: 8rem !important; }
.u-mb-lg { margin-bottom: 5rem !important; }
.u-mb-md { margin-bottom: 3rem !important; }
.u-mb-sm { margin-bottom: 1rem !important; }

.u-mt-sm { margin-top: 1rem !important; }
.u-mt-md { margin-top: 3rem !important; }
.u-mt-lg { margin-top: 5rem !important; }

.text-center { text-align: center !important; }


.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', serif;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.title-square {
  font-size: 4rem;
  background-color: black;
  /* width: 30rem;
  height: 30rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  z-index: 1;
}

h1.title-name {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  z-index: 2;
  font-family: 'Bryant Pro', 'Source Sans Pro', serif;

}

.particle-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

ul.main-nav {
  font-size: 1.3rem;
  list-style-type: none;
  text-align: center;
  margin-top: 7rem;
}

ul.main-nav li {
  display: inline-block;
  padding: 10px 20px;
}

ul.main-nav a:link,
ul.main-nav a:visited {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
