.section {
    margin: 8rem auto 5rem;
    max-width: 55rem;
    min-height: 60vh;
}

.textbox p {
    font-size: 1.8rem;
}

h2.heading {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

h3.subheading {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

div.connect:not(:last-child) {
    margin-bottom: 4rem;
}

div.connect a:link,
div.connect a:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
}

a.btn:link,
a.btn:visited {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 1.2rem;
    display: inline-block;
    border: 1px solid #333;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #333;
    border-radius: 3px;
    transition: all .3s;
}

a.btn:hover {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
}

div.img-container {
    text-align: center;
    margin-top: 8rem;

}

img.profilepic {
    max-width: 40rem;
    filter: grayscale(100%);
}