.skills {
    padding: 0;
    width: 100%;
  }

.skills li {
    display: block;
    border-radius: 2rem;
    position: relative;
    background-color: #888;
    color: #fff;
    margin: .7rem 0;
    transition: width 800ms ease-in-out;
  }

.collapsed .skills li {
    width: 0 !important;
}

.skills li p {
    padding: .4rem;
    margin-left: .8rem;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
}

.skills li span {
    position: absolute;
    right: 1rem;
    display: inline-block;
    top: .6rem;
    text-align: right;
    font-weight: normal;
    color: #fff;
    font-size: 1.2rem;
}
  